# Local .terraform directories
**/.terraform/*
.terraform/*
\.terraform\*
\.terraform/*
.\.terraform\* 
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.51.0/windows_amd64/terraform-provider-azurerm_v3.51.0_x5.exe
.\.terraform\
.\.terraform\*
# .tfstate files
*.tfstate
*.tfstate.*